@import 'variables';
@import 'mixin/inputs';
@import 'mixin/borders';
@import 'mixin/media_queries';
@import 'mixin/transition';
@import 'mixin/columns';
@import 'mixin/buttons';
@import 'mixin/functions';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    margin:0;padding: 0;
    outline: none;
    border: none;
}
//HTML Element
html {
    font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;
}
body {
    overflow-y: visible;
    font-family: $font-family-sans-serif;
    @include borderbox;
    font-size:1rem;
    color: $default-text-color;
}
h1,h2,h3,h3,p {
    margin: 0;
    padding:0;
    @include borderbox;
}
a {
    color: $prime-color;
    text-decoration: none;
    @include transition(color 0.2s);
    &:hover {
        text-decoration: underline;
        color: $prime-color-hover;
    }
}

//Container
.container {
    width: calc(#{$xxl} - #{$screenBorder});
    margin: 0 auto;
    padding: 0;
    @include borderbox;
}
@include media_queries_max($xxl) {
    .container {
        width: calc(#{$xl} - #{$screenBorder});
    }
}
@include media_queries_max($xl) {
    .container {
        width: calc(#{$l} - #{$screenBorder});
    }
}
@include media_queries_max($l) {
    .container {
        width: calc(#{$m} - #{$screenBorder});
    }
}
@include media_queries_max($m) {
    .container {
        margin: 0;
        width: 100%;
    }
}
$inline-block-height: 41px;
//form

/*.form-nrg {
    width: 100%;
    &.form-inline {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
        input, textarea, button, select {
            width: 100%;
            max-width: 100%;
        }
    }

    .form-block {
        margin-bottom: 12px;
    }
    .form-group {
        margin: 0; padding: 0;
        .btn-nrg {
            display: inline-block;
        }
    }
    .form-set {
        margin-bottom: 12px;
        small {
            display: block;
            margin-top: 6px;
            color: $default-text-color;
        }
    }
    label {
        font-size: 1.1rem;
        font-weight: bold;;
        line-height: $inline-block-height;
        @include borderbox;
        color: $default-text-color;
        display: block;
    }
    input, textarea, select {
        padding: 12px 12px;
        height: $inline-block-height;
        border: 1px solid #eaeaea;
        color: $default-text-color;
        font-size: 16px;
        display: block;
        @include borderbox;
        @include radius(0.3rem);
        @include transition(border-color 0.2s, color 0.2s, background-color 0.2s);
        &[readonly] {
            background-color: #efefef;
        }
        &.small {
            padding: 6px 12px;
        }
        &.large {
            padding: 16px 12px;
        }
        &.prime {
            border-color: $prime-color;
            &:focus {
                border-color: $prime-color-active;
            }
            &:hover {
                border-color: $prime-color-hover;
            }
        }
        &.alert {
            border-color: $alert-color;
            &:focus {
                border-color: $alert-color-active;
            }
            &:hover {
                border-color: $alert-color-hover;
            }
        }
        &.success {
            border-color: $success-color;
            &:focus {
                border-color: $success-color-active;
            }
            &:hover {
                border-color: $success-color-hover;
            }
        }
    }
    input, textarea {
        &:focus {
            border-color: #dadada;
        }
    }
}
@include media_queries($m) {
    .form-nrg {
        @include borderbox;
        &.form-inline {
            input, button, textarea, select {
                width: 100% !important;
                display: block !important;
            }
        }
    }
}*/

//Buttons

/*.btn-nrg {
    padding: 0 12px;
    @include radius($default_radius);
    cursor: pointer;
    line-height: $inline-block-height - 2px;
    height: $inline-block-height;
    //border: 1px solid rgba(0,0,0,0.2);
    font-size: 1.05rem;
    color: $default-text-color;
    background-color: transparent;
    border: 2px solid transparent;
    text-decoration: nonde;
    @include borderbox;
    @include transition(color 0.6s, border-color 0.6s, background-color 0.6s);
    &.btn-fill {
        width: 100%;
    }
    &:hover {
        background-color: transparent;
    }
    &:active {
        background-color: transparent;
    }
    &.btn-prime {
        background-color: $prime-color;
        color: #fff;
        &:hover {
            background-color: $prime-color-hover;
        }
        &:active {
            background-color: $prime-color-active;
        }
    }
    &.btn-success {
        background-color: $success-color;
        color: #fff;
        &:hover {
            background-color: $success-color-hover;
        }
        &:active {
            background-color: $success-color-active;
        }
    }
    &.btn-alert {
        background-color: $alert-color;
        color: #fff;
        &:hover {
            background-color: $alert-color-hover;
        }
        &:active {
            background-color: $alert-color-active;
        }
    }
    &.btn-prime-border {
        border-color: $prime-color;
        color: $prime-color;
        &:hover {
            border-color: $prime-color-hover;
            color: $prime-color-hover;
        }
        &:active {
            border-color: $prime-color-active;
            color: $prime-color-active;
        }
        &.btn-hover-fill {
            &:hover {
                color: #fff;
                border-color: transparent;
                background-color: $prime-color-hover;
            }
            &:active {
                color: #fff;
                border-color: transparent;
                background-color: $prime-color-active; 
            }
        }
    }
    &.btn-success-border {
        border-color: $success-color;
        color: $success-color;
        &:hover {
            border-color: $success-color-hover;
            color: $success-color-hover;
        }
        &:active {
            border-color: $success-color-active;
            color: $success-color-active;
        }
        &.btn-hover-fill {
            &:hover {
                color: #fff;
                border-color: transparent;
                background-color: $success-color-hover;
            }
            &:active {
                color: #fff;
                border-color: transparent;
                background-color: $success-color-active; 
            }
        }
    }
    &.btn-alert-border {
        border-color: $alert-color;
        color: $alert-color;
        &:hover {
            border-color: $alert-color-hover;
            color: $alert-color-hover;
        }
        &:active {
            border-color: $alert-color-active;
            color: $alert-color-active;
        }
        &.btn-hover-fill {
            &:hover {
                color: #fff;
                border-color: transparent;
                background-color: $alert-color-hover;
            }
            &:active {
                color: #fff;
                border-color: transparent;
                background-color: $alert-color-active; 
            }
        }
    }
}*/
@include columns();

@include makeButtons();